<h1>Showing Selected Article</h1>

<p>Title: <%= @article.title %>
</p>
<p>
  Description: <%= @article.description %>
</p>

<p>
  <%= link_to "Edit this article", edit_article_path %>
</p>

<p>
  <%= link_to "Back to articles", articles_path %>
</p>